.subscriber-list-state {
  display: inline-block;
  border-radius: 16px;
  padding: 6px 12px;
  color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.03);

  &[data-subscribed] {
    color: #66c39a;
    background: rgba(102, 196, 154, 0.05);
  }

  .long {
    display: none;
  }

  @media (min-width: 760px) {
    .short {
      display: none;
    }

    .long {
      display: block;
    }
  }
}
